*{
    margin: 0;
    padding: 0;
}
main{
    background: linear-gradient(to top, #c7f9fe, rgb(0, 200, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.posicionamento{
    position: relative;
    display: inline-block;
    margin: 6%;
    max-height: 750px;
}
.pokedex{
    width: 100%;
    max-height: 600px;
}
.area-imagem{
    height: 26.8%;
    width: 61%;
    position: absolute;
    top: 26.5%;
    left: 15.4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif-pokemon{
    max-width: 90%;
    max-height: 70%;
    min-height: 57%;
}
.info{
    position: absolute;
    top: 54.5%;
    right: 26%;
    font-size: clamp(8px, 6vw, 24px);
    font-weight: 500;
}
.input{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 7.8%;
    width: 73.5%;
    height: 5%; 
    top: 65%;
}
.envio{
    font-size: clamp(8px, 5vw, 20px);
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 2%;
    box-shadow: -2px 2px rgb(36, 36, 36);
}
.button{ 
    position: absolute;
    top: 75%;
    height: 7%;
    width: 73.5%;
    margin-left: 7.8%;
    display: flex;
    justify-content: center;
}
.shiny{
    height: 100%;
    width: 70%;
    border-radius: 5px;
    box-shadow: -2px 2px #5d5555, -4px 4px rgb(36, 36, 36);
    cursor: pointer;
    background-color: #9a9696;
    font-size: clamp(8px, 5vw, 20px);
}
.shiny:active{
    animation-delay: 2s;
    font-size: clamp(5px, 4vw, 17px);
    box-shadow: inset -1px 1px black, inset -4px 4px #5d5555;
}